#con-img{
    margin: 3em 0 0 22em;
}
#con-title{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: #a9885e;
}
/*
#all-body{
    background:linear-gradient(45deg,rgba(254,172,94,0.2),rgba(199,121,208,0.2),rgba(75,192,200,0.2));
}*/
