.mar-1{
    margin: 10px 0 0 0;
}
.mar-2{
    float: right;
    margin-top: 4px;
}
.col-red{
    color: red;
}
.input-a{
    margin-left: 30px;
    width: 90%;
}
.label-a{
    width: 10em;
    margin-left: -1.3em;
}
.teax-a{
    margin-left: 3em;
    width: 90%;
}
.add_col_txt{
    width: 34.8em;
    border: 1px solid #dcdada;
    margin: 1em 0 0 3em;
}
.add_col_txt input{
    height: 30px;
}
.mar-2-1{
    float: right;
    margin-top: -36px;
}
.add_ftp_col_txt{
    width: 34.8em;
    border: 1px solid #dcdada;
    margin: 1em 0 0 3em;
}
.add_mongodb_col_txt{
    width: 34.8em;
    border: 1px solid #dcdada;
    margin: 1em 0 0 3em;
}
.w_add_mongodb_col_txt{
    width: 34.8em;
    border: 1px solid #dcdada;
    margin: 1em 0 0 3em;
}