<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>datax-web</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/css/hello.css">
</head>
<body class="layui-layout-body" id="all-body">
<div id="all" class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;" class="context">
        <div id="con-title">
            <span>datax-web 欢迎您！</span>
        </div>
        <div id="con-img">
            <img src="/images/datax-web.jpg">
        </div>
    </div>
</div>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/layui/layui.all.js"></script>
</body>
</html>