<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>datax-web</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body class="layui-layout-body">
<div id="all" class="layui-layout layui-layout-admin">
    <!--头部区域-->
    <div class="layui-header">
        <div class="layui-logo"><img src="http://t.cn/RCzsdCq" class="layui-nav-img">datax-web</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">首页</a></li>
            <li class="layui-nav-item"><a href="">datax官网</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">运维管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="checkData(1,'main.html')">数据源管理</a></dd>
                        <dd><a href="javascript:;" onclick="checkData(2,'script.html')">脚本管理</a></dd>
                        <dd><a href="javascript:;" onclick="checkData(3,'main2.html')">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="overflow: hidden">
        <!-- 内容主体区域 -->
        <iframe id="con-url" src="hello.html" frameborder="0" height="100%" width="100%"></iframe>
    </div>

    <div class="layui-footer" style="text-align: center;">
        <!-- 底部固定区域 -->
        © com.cnct - 技术支持：四川世纪中税软件有限公司
    </div>


</div>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/js/index.js"></script>
</body>
</html>